{% extends "layout.html" %}

{% block title %}
  Find a book
{% endblock %}

{% block body %}
  {% if user_id is not none %}
  <div class="container">
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="search_term" placeholder="Search ISBN, author name or book title" aria-label="Search ISBN, author name or book title" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
      {% if search_result is not none %}
        {% if search_result is defined and search_result|length > 0 %}
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Title</th><th>Author</th><th>Year</th><th>ISBN</th>
              </tr>
              {% for book in search_result %}
                <tr>
                  <td>{{ book.title_text }}</td>
                  <td>{{ book.author_name }}</td>
                  <td>{{ book.published_year }}</td>
                  <td>{{ book.isbn_text }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <div class="row">
            <div class="col">
              <div class="alert alert-info" role="alert">
                  No books found.
              </div>
            </div>
          </div>  
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}